body{
    margin: 0px;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    /* background-color: #333; */
    padding: 10px 0px;
}
  
/* Nav links styling */
.nav-links {
    list-style: none;
    display: flex;
    padding: 0px;
    margin: 0px;
}

.nav-links li {
    margin-right: 30px;
}

.nav-links a {
    color: #ECDFCC;
    text-decoration: none;
    font-size: 15px;
    font-family: "Quicksand", serif;
    font-style: normal;
}

.nav-links a:hover {
    color: #697565; /* Change color on hover */
} 

/* left side conatainer */
.left-side-container, .right-side-container{
    width: 50%;
    margin: 0px;
    height: 100%;
    /* flex: 1; sdaw */
}

.left-side-container{
    background-color: #181C14;
    padding: 10px 20px;
}

.container{
    display: flex;
    height: 100vh; 
    margin: 0px
}

#name-header{
    color: #FFF4B7;
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
    margin: 12px 0px;
}

.mid-screen-content{
    height: 50%;
}

.mid-screen-content h2{
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 2.5rem;
    color: #dedddc;
    margin: 0px;
    margin-top: 30%;
    margin-left: 26%;
}

.mid-screen-content h1{
    font-family: "Quicksand", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 5rem;
    color: #FFF4B7;
    margin: 0px;
    margin-left: 30%;
    font-weight: 800;
}

.mid-screen-content p{
    font-family: "Quicksand", serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1rem;
    color: #ede8cc;
    margin: 0px;
    margin-left: 30%;
    font-weight: 300;
}

#devendra-home-page-img{
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
}

.right-side-container{
    position: fixed;
    margin-left: 50%;
}